CompileFlags:
  Add:
    - -ferror-limit=0
    - -D__ESP32__
    - -DCONFIG_IDF_TARGET_ESP32C3
  Remove:
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
Index:
  Background: Build
